.herobg{
    background: url(https://www.comfygen.com/img/gcn-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.featuresbg{
    background: url(https://www.comfygen.com/img/features-e-commerce-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}