{
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "importSource": "react"
      }
    },
    "loose": false,
    "minify": {
      "compress": true,
      "mangle": true
    }
  },
  "env": {
    "targets": {
      "chrome": "90",
      "edge": "90",
      "firefox": "90",
      "safari": "14"
    },
    "mode": "entry",
    "coreJs": 3
  },
  "minify": true
}
