.hireimage {
  background-image: url('https://www.comfygen.com/img/hire-mobile-application-developer.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mobileappsolution {
  background-image: url('https://www.comfygen.com/img/mobile-app-solution.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



.letter {
  background: #fff;
  box-shadow: 0 0 10px #BA68C8;
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border-top: solid 1px #BA68C8;
  border-left: solid 1px #BA68C8;
  border-right: solid 7px #BA68C8;
  border-bottom: solid 7px #BA68C8;
}

/* .letter:before,
.letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.letter:before {
  background: #BE5EBC;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}

.letter:after {
  background: #16BDFA;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
} */

.imagescrool{
  position: sticky !important;
  top: 140px !important;
}


/* ......... design css  */

.roadmap {
  padding: 30px 50px;
}
.roadmap .point {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  position: relative;
}
.roadmap .point:first-child .pointindex {
  top: auto;
  bottom: 0;
  transform: translate(-50%, 2px) !important;
}
.roadmap .point:last-child .pointindex {
  top: 0;
  transform: translate(50%, -2px) !important;
}
.roadmap .point:not(:last-child) {
  border-bottom: 2px solid #BA68C8;
}
.roadmap .point:nth-child(odd) {
  align-items: flex-start;
}
.roadmap .point:nth-child(odd):not(:first-child) {
  border-left: 2px solid #BA68C8;
}
.roadmap .point:nth-child(odd) .pointindex {
  left: 0;
  transform: translate(-50%, -50%);
}
.roadmap .point:nth-child(even) {
  align-items: flex-end;
}
.roadmap .point:nth-child(even):not(:last-child) {
  border-right: 2px solid #BA68C8;
}
.roadmap .point:nth-child(even) .pointindex {
  right: 0;
  transform: translate(50%, -50%);
}
.roadmap .point .pointindex {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #BA68C8;
  color: #fff;
  border: 2px solid #BA68C8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
}
.roadmap .point .pointlabel {
  flex: 1 0 100%;
  /* width: 100%;
  font-size: 14px; */
  margin-bottom: 5px;
}
@media (min-width: 641px) {
  .roadmap .point .pointlabel {
    flex: 1 0 50%;
    width: 50%;
 }
}
.roadmap .point .pointtext {
  flex: 1 0 100%;
  /* width: 100%;
  font-size: 12px; */
  color: #000;
}
@media (min-width: 641px) {
  .roadmap .point .pointtext {
    flex: 1 0 50%;
    width: 50%;
 }
}

.Features-social{
  position: fixed !important;
  top: 100px !important;
}
.Technolog-tab{
  border: solid 2px #fff;

}

.socialbg{
  background: url(https://www.comfygen.com/img/social-bg.webp) no-repeat;
  width: 100%;
  height: 100%;

}

.stepTab{
  max-height: 328px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color:  #BA68C8;
}

.stepTab::-webkit-scrollbar {
  width: 11px;
}

.stepTab::-webkit-scrollbar-track {
  background: #BA68C8;
}
.stepTab::-webkit-scrollbar-thumb {
  background-color: #90A4AE;
  border-radius: 6px;
  border: 3px solid #BA68C8;
}
.Tabafter{
  min-height: 328px;
}

.Tabafter::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid #2563EB;
    border-bottom: 20px solid transparent;
    margin: auto 0;
    height: 0;
}
.financeSec{
 position: relative;
 cursor: pointer;
}
.financeSec::after{
  content: "";
  position: absolute;
  background-color: #BA68C8;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 5px;
  transition: 1s;
  border-radius: 10px;
}
.financeSec:hover::after{
  width: 100%;
 
}
.financeSec:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.financeSec::before{
  content: "";
  position: absolute;
  background-color: #BA68C8;
 bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

/* ..... Roadmap CSS .....  */


.maintimeline {
  /* font-family: tahoma; */
  padding: 20px 0;
  position: relative;
}

.maintimeline::before,
.maintimeline::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}

.maintimeline::after {
  top: auto;
  bottom: 15px;
}

.maintimeline .timeline {
  padding: 35px 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.maintimeline .timeline::before,
.maintimeline .timeline::after {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: 110px 0 0 110px;
  border: 15px solid #1BBAF8;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.maintimeline .timeline::after {
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color: #1BBAF8;
  left: 12px;
  top: 15px;
}

.maintimeline .timelinecontent {
  display: inline-block;
}

.maintimeline .timelinecontent:hover {
  text-decoration: none;
}

.maintimeline .timelineyear {
  color: #65c7d0;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  transform: translatey(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
}

.maintimeline .timelineicon {
    color: #65c7d0;
    font-size: 70px;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: 34%;
    top: 50%;
}

.maintimeline .content {
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  float: right;
}

.maintimeline .title {
  color: #65c7d0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.maintimeline .description {
  font-size: 16px;
  margin: 0;
}

.maintimeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 110px 110px 0;
  border: 15px solid #BA68C8;
  border-left: none;
}

.maintimeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 100px 100px 0;
  border: 15px solid green;
  border-left: none;
}

.maintimeline .timeline:nth-child(even) .content {
  float: left;
}

.maintimeline .timeline:nth-child(even) .timelineyear {
    left: auto;
    right: 10%;
}

.maintimeline .timeline:nth-child(even) .timelineicon {
  left: auto;
  right: 32%;
}

.maintimeline .timeline:nth-child(5n+1)::before {
  border-color: #46b2bc;
}

.maintimeline .timeline:nth-child(5n+1)::after {
  border-color: #65c7d0;
}

.maintimeline .timeline:nth-child(5n+1) .timelineicon {
  color: #65c7d0;
}

.maintimeline .timeline:nth-child(5n+1) .timelineyear {
  color: #65c7d0;
}

.maintimeline .timeline:nth-child(5n+1) .title {
  color: #65c7d0;
}

.maintimeline .timeline:nth-child(5n+2)::before {
  border-color: #BA68C8;
}

.maintimeline .timeline:nth-child(5n+2)::after {
  border-color: #BA68C8;
}

.maintimeline .timeline:nth-child(5n+2) .timelineicon {
  color: #BA68C8;
}

.maintimeline .timeline:nth-child(5n+2) .timelineyear {
  color: #BA68C8;
}

.maintimeline .timeline:nth-child(5n+2) .title {
  color: #BA68C8;
}

.maintimeline .timeline:nth-child(5n+3)::before {
  border-color: #8CC63E;
}

.maintimeline .timeline:nth-child(5n+3)::after {
  border-color: #6CAF29;
}

.maintimeline .timeline:nth-child(5n+3) .timelineicon
{
  color: #8CC63E;
}

.maintimeline .timeline:nth-child(5n+3) .timelineyear {
  color: #8CC63E;
}

.maintimeline .timeline:nth-child(5n+3) .title {
  color: #8CC63E;
}

.maintimeline .timeline:nth-child(5n+4)::before {
  border-color: #F99324;
}

.maintimeline .timeline:nth-child(5n+4)::after {
  border-color: #FBB03B;
}

.maintimeline .timeline:nth-child(5n+4) .timelineicon {
  color: #F99324;
}

.maintimeline .timeline:nth-child(5n+4) .timelineyear {
  color: #F99324;
}

.maintimeline .timeline:nth-child(5n+4) .title {
  color: #F99324;
}

.maintimeline .timeline:nth-child(5n+5)::before {
  border-color: #0071BD;
}

.maintimeline .timeline:nth-child(5n+5)::after {
  border-color: #0050A3;
}

.maintimeline .timeline:nth-child(5n+5) .timelineicon {
  color: #0071BD;
}

.maintimeline .timeline:nth-child(5n+5) .timelineyear {
  color: #0071BD;
}

.maintimeline .timeline:nth-child(5n+5) .title {
  color: #0071BD;
}

@media screen and (max-width:1200px){
    .maintimeline .timeline:after{ border-radius: 88px 0 0 88px; }
    .maintimeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
    .maintimeline .timeline{ margin-top: -19px; }
    .maintimeline .timeline:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .maintimeline .timeline:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width:10px;
        top: 9px;
        left: 9px;
    }
    .maintimeline .timeline:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .maintimeline .timeline:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .maintimeline .timelineicon{ font-size: 60px; }
    .maintimeline .timelineyear{ font-size: 40px; }
}
@media screen and (max-width:479px){
    .maintimeline .timelineicon{
        font-size: 50px;
        transform:translateY(0);
        top: 25%;
        left: 10%;
    }
    .maintimeline .timelineyear{
        font-size: 25px;
        transform:translateY(0);
        top: 65%;
        left: 9%;
    }
    .maintimeline .content{
        width: 68%;
        padding: 10px;
    }
    .maintimeline .title{ font-size: 18px; }
    .maintimeline .timeline:nth-child(even) .timelineicon{
        right: 10%;
    }
    .maintimeline .timeline:nth-child(even) .timelineyear{
        right: 9%;
    }
}

.fintechCard {
  display: block;
  text-decoration: none;
  text-align: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.fintechCard:before {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom:  -100%;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(246, 146, 255, 0.1);
  transition: .3s ease-in;
}
.fintechCard:hover:before {
  left: 0;
  transition: .3s ease-out;
}
.fintechCard:after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(239, 116, 255, 0.1);
  transition: .6s ease-in;
}

.fintechCard:hover:after {
  left: 0;
  transition: .6s ease-out;
}

.fintechCard1{
  position: relative;
}
.fintechCard1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #BA68C8;
  bottom: 0px;
  left: 0px;
  z-index: 999999999;
}


/* ........... Card Design Css  */

.card {
  position: relative;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
}
.card::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  bottom: 20px;
  right: 15px;
  border-left: 1px solid #BA68C8;
}
.cardbody {
  padding: 3rem 2rem;
  background-color: #ffff;
border-radius: 8px;
}
.cardtitle {
  position: relative;
  z-index: 1;
  color: #fff;
  margin-bottom: 1rem;
  text-align: start;
}
.cardtext{
  text-align: start;
}
.cardtitle::before {
  content: "";
  position: absolute;
  width: 124%;
  height: 100%;
  background-color: #BA68C8;
  z-index: -1;
  top: 0;
  left: -60px;
}


/* ........ RoadMapp Section .........  */




.Roadmapcontainer{
  width: 80%;
  padding: 50px 0;
  margin:  auto;
  position: relative;
  overflow: hidden;
}

.Roadmapcontainer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #BA68C8;
  z-index: 1
}

.timelineblock {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timelineblockright {
  float: right;
}

.timelineblockleft {
  float: left;
  direction: rtl
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #BA68C8;
  margin-top: 10px;
  z-index: 9
}

.timelinecontent {
  width: 95%;
  padding: 0 15px;
  color: #fff;
}

.timelinecontent h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  text-align: -webkit-auto;
}

.timelinecontent p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #fff;
  text-align: -webkit-auto;
}


@media screen and (max-width: 768px) {
  .Roadmapcontainer:before {
     left: 8px;
     width: 2px;
  }
  .timelineblock {
     width: 100%;
     margin-bottom: 30px;
  }
  .timelineblockright {
     float: none;
  }

  .timelineblockleft {
     float: none;
     direction: ltr;
  }
}

.ShouldSec{
  background: transparent linear-gradient(139deg,#00baff  0,#BA68C8 100%) 0 0 no-repeat padding-box;
}
.hiringsec{
  padding-right: 100px;
}