.herobg{
    background: url(https://www.comfygen.com/img/power-of-news-hero-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 33%, 100% 70%, 79% 85%, 56% 91%, 25% 86%, 0% 70%, 0% 35%, 0 0); */
 
}

.sectionbg{
    background-image: linear-gradient(to right top, #32539d, #47386c, #3d2341, #26141f, #000000);
}
.Featuresbg{
    background: url(https://www.comfygen.com/img/one-power-news-section-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}