.TechnologyStack::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.TechnologyStack::-webkit-scrollbar {
  width: 2px;
  background-color: #F5F5F5;
}

.TechnologyStack::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
      #e4f5fc 0%,
      #bfe8f9 50%,
      #9fd8ef 51%,
      #5556D1 100%);
}



.testiText{
  position: relative;
}
.testiText::before {
  content: "“";
  color: rgb(220, 53, 69);
  position: absolute;
  top: -19px;
  left: -20px;
  z-index: 9;
  width: 16px;
  height: 13px;
  font-size: 48px;
  overflow: visible !important
}

.testiText::after {
    content: "”";
    color: rgb(220, 53, 69);
    position: absolute;
    bottom: 11px;
    right: -14px;
    z-index: 9;
    width: 16px;
    height: 13px;
    font-size: 48px;
    overflow: visible !important;
}


.testimonialbg{
  background: url(https://www.comfygen.com/img/testimonial-bg.webp) no-repeat center right;
  padding: 3rem 0;
}


@media screen and (max-width: 767px) {
  .testimonialbg{
    background: none !important;
    padding: unset !important;
  }
}



/* ............ New Theme CSS ..............  */

.processContent {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-top: 15px;
  position: relative;
}

.processAnimation {
  display: none;
}

.imageAnimate {
  width: 250px;
  margin: auto;
}

.processStep {
  width: 50%;
  padding: 0px 15px;
  margin-bottom: 30px;
}

.processStep:last-child {
  margin-right: auto;
}

.processStepTitle {
  margin: 0;
}

.processStepText {
  line-height: 1.7rem;
  margin: 0px;
}

.processStepTitle {
  font-size: 20px;
}

@media screen and (min-width: 991px) {
  .processContent {
    flex-direction: column;
  }

  .processAnimation {
    display: block;
    margin: auto;
  }

  .imageAnimate svg path {
    transition: .5s;
  }

  .processStep {
    position: absolute;
    left: 0;
    padding: 0 16px;
    top: 0;
    width: 50%;
  }

  .processStep:nth-child(2n) {
    left: 0;
    right: 50%;
    padding-right: 140px;
    text-align: right;
  }

  .processStep:nth-child(2n+1) {
    left: 50%;
    right: 0;
    padding-left: 140px;
  }

  .processStep:nth-child(2) {
    top: 21px;
  }

  .processStep:nth-child(3) {
    top: 145px;
  }

  .processStep:nth-child(4) {
    top: 265px;
  }

  .processStep:nth-child(5) {
    top: 384px;
  }

  .processStep:nth-child(6) {
    top: 503px;
  }

  .processStep:nth-child(7) {
    top: 623px;
  }

  .processStep:last-child {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 0;
  }

  .processStepTitle {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
  }

  .processStepText {
    line-height: 21px;
    margin-left: 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .processStep {
    width: 100%;
  }
}


.WhyChooseUsA {
  position: absolute;
  bottom: -10px;
  right: 0;
  animation: 3s infinite float-obj-y;
  opacity: .6;
  mix-blend-mode: color-dodge;
}

 .WhyChooseUsB {
  position: absolute;
  bottom: 30px;
  right: 0;
  animation: 4s infinite float-obj-y;
  opacity: .7;
  mix-blend-mode: color-dodge;
}

@keyframes float-obj-y {
  0% {
    transform: translateY(-20px);
}

50% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(-20px);
}
}




.leftSide {
  width: 250px;
  height: 250px;
  background: #ddd;
  display: inline-block;

  position: sticky;
  top: 50px;
}
.mainSection {
  width: 1100px;
  margin: 50px auto;
  clear: both;
}
.mainSection:before,
.mainSection:after {
  content: '';
  display: table;
  clear: both;
}

.rightSide {
  width: 750px;
  display: inline-block;
  vertical-align: top;
  
}
.rightSide div {
  background: #999;
  height: 250px;
  margin: 10px;
}

.leftSide, .rightSide {
  border: 1px solid red;
}

.cardbar::-webkit-scrollbar {
  width: 6px;
}

.cardbar::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.cardbar::-webkit-scrollbar-thumb {
  background: #6B8DDA;
}