.btn-fix,
.btn_vdo {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 36px rgba(0, 0, 0, .06);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
  transition: .8s;
  height: 55px;
  padding: 5px 60px 5px 25px;
  width: fit-content;
  cursor: pointer;
}

.btn-fix svg {
  background: #5556D1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  transition: .5s;
  right: 10px;
  animation: move 1s ease infinite;
}

.btn-fix:hover svg {
  background-color: #5556D1;
  right: calc(100% - 50px);
}

.btn-fix:hover {
  background: #fff;
  padding: 5px 25px 5px 60px;
  color: #000;
}

@keyframes move {
  0% {}

  50% {
    transform: translate(-5px, 0px)
  }
}
