/* .herobg{
    background: url(https://www.comfygen.com/img/m7coin-hero-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} */

.featuresbg{
    background: url(https://www.comfygen.com/img/book-my-tutor-features-bg.webp) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.toolstechbg{
    background: linear-gradient(129deg,#6f521b,#cb9731);
}