
.btnfix,
.btnvdo {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 36px rgba(0, 0, 0, .06);
  font-size: 18px;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
  transition: .8s;
  height: 55px;
  padding: 5px 60px 5px 25px;
  width: fit-content;
  cursor: pointer;
}

.btnfix svg {
  background: #5556D1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  transition: .5s;
  right: 10px;
  animation: move 1s ease infinite;
}

.btnfix:hover svg {
  background-color: #5556D1;
  right: calc(100% - 50px);
}

.btnfix:hover {
  background: #fff;
  padding: 5px 25px 5px 60px;
  color: #000;
}


/* social btn */

.socialbtn {
  display: flex;
  width: 180px;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin-bottom: 5px;
  position: relative;
  right: 64px;
  transition: right 1s;
}

.socialbtn:hover {
  right: 175px;
  transition: 1s;
}

.social {
  position: fixed;
  top: 265px;
}

@media screen and (max-width: 1023px) {
  .socialbtn {
    right: -43px;
    transition: right 1s;
    padding-left: 15px;
  }

  .socialbtn:hover {
    right: 55px;
    transition: 1s;
  }
}
