@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}


img {
  display: block;
}


html {
  scroll-behavior: smooth;
    scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;  
}
* {
  box-sizing: border-box;
}


