/* 
.TechnologyStack::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.TechnologyStack::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.TechnologyStack::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
      #e4f5fc 0%,
      #bfe8f9 50%,
      #9fd8ef 51%,
      #B165C1 100%);
}




.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, #be5ebc 0%, #16bdfa 8%, #1f6885 92%, #be5ebc6b 100%);  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.directionL {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.directionR {
  position: relative;
  width: 300px;
  float: right;
}

.flagwrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {

  position: relative;
  display: inline;
  color: #fff;
  background: #be5ebc;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.directionL .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.directionR .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}


.directionR .flag p {
  position: absolute;  
  top: 15%;
  left: -53px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  border-radius: 50%;
  margin-top: -10px;
  background: #BE5EBC;
  color: #fff;
  border: 2px solid #fff;
  z-index: 10;
}

.directionL .flag p{
  position: absolute;
    top: 14%;
    right: -54px;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    background: #BE5EBC;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 10;
}

.directionR .flag:before {
  left: -40px;
}

.directionL .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #BE5EBC;
  border-width: 8px;
  pointer-events: none;
}

.directionR .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #BE5EBC;
  border-width: 8px;
  pointer-events: none;
}

.timewrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.directionL .timewrapper {
  float: left;
}

.directionR .timewrapper {
  float: right;
}


.desc {
  margin: 1em 0.75em 0 0;
  line-height: 1.5em;
  color: #fff;
}

.directionR .desc {
  margin: 1em 0 0 0.75em;
}



@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.directionL,
.directionR {
	float: none;
	width: 100%;

	text-align: center;
}

.flagwrapper {
	text-align: center;
}

.flag {
	background: #be5ebc;
	z-index: 15;
}

.directionL .flag:before,
.directionR .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: unset;
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.directionL .flag:after,
.directionR .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: #BE5EBC;
	border-width: 8px;
	pointer-events: none;
}

.timewrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.directionL .timewrapper {
	float: none;
}

.directionR .timewrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	color: #000;
  z-index: 15;
}
.directionL .flag p{
  position: absolute;
    top: 14%;
    left: -53px;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    background: #BE5EBC;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 10;
}

.directionL .desc,
.directionR .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px) and (max-width: 660px) {
  .directionL .desc,
  .directionR .desc {
      margin: 1em 4em 0 4em;
  }
}



 */
 .TechnologyStack::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.TechnologyStack::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.TechnologyStack::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,
      #e4f5fc 0%,
      #bfe8f9 50%,
      #9fd8ef 51%,
      #B165C1 100%);
}

 .timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #B463BF;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #f9ebeb;
  color: #000;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: #be5ebc;
  position: relative;
  font-size: 22px;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 999px;
  border: 3px solid #fff;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}
.card:nth-child(even) > .info {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}
