/* Hide scrollbar but allow scroll */
.scrollbar_hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar_hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}